$containerWidth: 915px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$red: #E01F3D;
$grey: #666666;
$black: #292929;

@import "media";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "layout";

//components
@import "components/hero";
@import "components/header";
@import "components/menu";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";
@import "components/hamburger";
@import "components/map";
@import "components/footer";
@import "components/socials";
@import "components/assortment";
@import "components/assortment-composition";
@import "components/overlay";

