.assortment-composition {
    position: relative;
    display: inline-flex;
    &:hover .assortment-composition__list {
        top: 0;
        left: 100%;
        opacity: 1;
    }
    .assortment-composition__list {
        position: absolute;
        top: 0;
        left: -99999999px;
        opacity: 0;
        transition: opacity 0.3s;
        background: #D5D5D5;
        box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
        backdrop-filter: blur(40px);
        border-radius: 4px;
        padding: 24px 13px 24px 26px;
        min-width: rem(273px);
    }
}

.assortment-composition__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(20px);

    &:last-child {
        margin-bottom: 0;
    }
}

.assortment-composition__parametr--icon {
    width: rem(32px);
    height: rem(32px);
    flex-shrink: 0;
    margin-right: rem(12px);
}

.assortment-composition__desc {
    flex-shrink: 0;
}

.assortment-composition__text--params {
    flex-shrink: 0;
    margin-left: auto;
}

.assortment-composition--button {
    margin-bottom: rem(27px);

    @include tablets {
        display: none;
    }
}

.assortment-composition--icon {
    width: rem(91px);
    height: rem(91px);
}