.benefits__section {
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        width: 0; 
        height: 0;
        bottom: -40px;
        left: 64px;
        transform: rotate(-45deg);
        border-top: rem(34px) solid transparent;
        border-right: rem(68px) solid #E01F3D;
        border-bottom: rem(34px) solid transparent;
        z-index: 1;
    }
}

.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 4%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(20px);
    }

    &::before {
        content: url(img/decor-elem/Combined.png);
        position: absolute;
        top: rem(61px);
        right: 0;
        transform: translateX(50%);

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}