.feature {
    display: flex;
}

.feature__icon {
    width: rem(42px);
    margin-right: rem(6px);
}

.feature__text {
    font-family: "Play", Arial, Helvetica, sans-serif;
    line-height: rem(18px);
    max-width: rem(114px);
}