.hamburger {
    width: 25px;
    height: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    z-index: 100;
    cursor: pointer;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: $black;
    height: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}



.hamburger--active > .hamburger__plank {
    background: #fff;
    z-index: 10000;

    &:first-child {
        transform: translateY(8px) translateX(2px) rotate(45deg);
        transform-origin: center top;
    }

    &:nth-child(2) {
        opacity: 0;
    }

    &:last-child {
        transform: translateY(-8px) translateX(2px) rotate(-45deg);
        transform-origin: center bottom;
    }
}