.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.phone-number {
    font-family: "Play", Helvetica, sans-serif;
    font-size: rem(18px);
    line-height: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.phone-number--icon {
    flex-shrink: 0;
}

.phone-number--icon-elem {
    height: rem(13px);
    width: rem(13px);
    margin-right: rem(6px);
}

.phone-number--text {
    white-space: nowrap;
}

.header-phone-number {
    @include tablets {
        display: none;
    }
}