.headline {
    text-align: center;
}
.headline__title {
    margin-bottom: rem(11px);
    text-transform: uppercase;
}


.headline__subtitle {
    color: #666;
    font-weight: 400;
    line-height: rem(19px);
    padding: 0 20%;
    margin-bottom: rem(62px);

    @include phones {
        padding: 0 11%;
    }
}
