.modal {
    display: none;
    width: rem(309px);
    height: rem(176px);

    &.error-modal {
        .modal__content {
            color: red;
        }
    }

    &.fancybox-content {
        padding: 0 !important;
    }

    .fancybox-button {
        display: none;
    }
}

.modal__container {
    background: #fff;
    padding: rem(30px) rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: rem(30px);
}