.section {
    position: relative;
    height: 100%;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(50px);
    text-align: center;
    text-transform: uppercase;
}

.order-section {
    background: url(img/bgform.png) center top 50% / cover no-repeat;
    object-fit: cover;
}

.section__title--color-white {
    color: #fff;
}

.product-menu-section {
    background: url(img/decor/Slider.png) right 33% top 10% / cover no-repeat;
    overflow: hidden;
    position: relative;
    color: #fff;
}


