.socials {
    display: flex;
}

.socials__items {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.social-icon {
    width: rem(30px);
    height: rem(30px);
    fill: #B3B3B3;
    ;

    &:hover {
        fill: #000;
    }
}