@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 915px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100%;
  min-height: 40.625rem;
  color: #292929;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../img/decor/headphones.png) center center/contain no-repeat;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section::before {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 4.125rem 0;
  background: url(../img/decor/headphones.png) right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
    background-color: #F5F5F5;
  }
}

.hero__main-title {
  font-size: 3rem;
  font-family: "Play", Helvetica, sans-serif;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.375rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 5% 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.1875rem;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 3.375rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 20%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone-number {
  font-family: "Play", Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

.phone-number--icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number--icon-elem {
  height: 0.8125rem;
  width: 0.8125rem;
  margin-right: 0.375rem;
}

.phone-number--text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .header-phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.75rem;
  margin-bottom: 5px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 0.8125rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.625rem;
  margin-right: 0.375rem;
}

.feature__text {
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.125rem;
  max-width: 7.125rem;
}

.btn {
  font-weight: bold;
  padding: 1.125rem 2.5rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1.125rem;
  background: #E01F3D;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
}
.btn:hover {
  background: #CA1B36;
}
.btn--theme-transparent {
  background-color: transparent;
}
.btn--theme-transparent:hover {
  background-color: transparent;
  color: #E01F3D;
}

.section {
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.125rem;
  text-align: center;
  text-transform: uppercase;
}

.order-section {
  background: url(../img/bgform.png) center top 50%/cover no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__title--color-white {
  color: #fff;
}

.product-menu-section {
  background: url(../img/decor/Slider.png) right 33% top 10%/cover no-repeat;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.6875rem;
  text-transform: uppercase;
}

.headline__subtitle {
  color: #666;
  font-weight: 400;
  line-height: 1.1875rem;
  padding: 0 20%;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 11%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.25rem;
  }
}
.benefits__item::before {
  content: url(../img/decor-elem/Combined.png);
  position: absolute;
  top: 3.8125rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.25rem;
  }
}

.benefit__image--wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.1875rem;
}

.benefit__desc {
  color: #666;
  line-height: 1.1875rem;
}

.section__title--reviews {
  margin-bottom: 1.4375rem;
}
@media screen and (max-width: 768px) {
  .section__title--reviews {
    margin-bottom: 3.3125rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  position: relative;
  min-height: 21.75rem;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.875rem;
}

.reviews__display--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.875rem 0 0 0;
}

.reviews__text {
  color: #666;
  margin-bottom: 2.5rem;
  padding-right: 17%;
  line-height: 1.1875rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding-right: 0;
  }
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3125rem;
  margin-bottom: 1.25rem;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: -99999;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  left: 0;
  opacity: 1;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 17%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__title {
  color: #fff;
  margin-bottom: 0.375rem;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.125rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.1875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 0.75rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__input.input-error {
  border-color: red;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1875rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  padding-top: 2.4375rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/decor-elem/Vector.svg) center center no-repeat;
}

.radio__title {
  color: #fff;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__white .fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__white .fixed-menu__item--active .fixed-menu__link::before {
  background: #fff;
}
.fixed-menu__white .fixed-menu__link::before {
  background: #fff;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  z-index: 30;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 5px;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hamburger--active .hamburger__plank {
  background: #fff;
}
.hamburger--active .hamburger__plank:first-child {
  display: none;
}
.hamburger--active .hamburger__plank:nth-child(2) {
  -webkit-transform: rotate(45deg) translateY(11px);
          transform: rotate(45deg) translateY(11px);
}
.hamburger--active .hamburger__plank:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

#map {
  width: 100%;
  height: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.375rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__items {
  margin-right: 10px;
}
.socials__items:last-child {
  margin-right: 0;
}

.social-icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: #B3B3B3;
}
.social-icon:hover {
  fill: #000;
}

.container__assortment {
  position: relative;
}
.assortment__control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .assortment__control {
    top: 29%;
  }
}

.assortment__control--left {
  left: -4%;
}
@media screen and (max-width: 768px) {
  .assortment__control--left {
    left: 19%;
  }
}

.assortment__control--right {
  right: -4%;
}
@media screen and (max-width: 768px) {
  .assortment__control--right {
    right: 19%;
  }
}

.icon-arrow {
  width: 0.875rem;
  height: 1.6875rem;
}

.assortment {
  background-color: #F8FAF9;
}

.assortment__slider {
  overflow: hidden;
}

.assortment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  will-change: right;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.assortment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .assortment__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.assortment__img {
  width: 50%;
  margin-right: 3.6875rem;
  background: url(../img/decor/sliderheadphones.png) right center/100% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .assortment__img {
    height: 19.375rem;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    background: url(../img/decor/sliderheadphones.png) center center/40% auto no-repeat;
  }
}

.assortment__content {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .assortment__content {
    width: 100%;
  }
}

.assortment__title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .assortment__title {
    text-align: center;
  }
}

.assortment__text {
  line-height: 1.1875rem;
  color: #666;
  max-width: 23rem;
  margin-bottom: 1.6875rem;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .assortment__text {
    max-width: 100%;
    padding: 0 9% 0 9%;
    text-align: center;
    margin-right: 0;
  }
}

.assortment__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .assortment__params {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.assortment__parameter {
  margin-right: 5.625rem;
}
.assortment__parameter:last-child {
  margin-right: 0;
}

.assortment__key {
  color: #666;
  line-height: 1.1875rem;
}

.assortment__value {
  color: #000;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.assortment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .assortment__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.assortment__price {
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  color: #151515;
  margin-right: 0.8125rem;
}

.assortment-composition {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.assortment-composition:hover .assortment-composition__list {
  top: 0;
  left: 100%;
  opacity: 1;
}
.assortment-composition .assortment-composition__list {
  position: absolute;
  top: 0;
  left: -99999999px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #D5D5D5;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 24px 13px 24px 26px;
  min-width: 17.0625rem;
}

.assortment-composition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}
.assortment-composition__item:last-child {
  margin-bottom: 0;
}

.assortment-composition__parametr--icon {
  width: 2rem;
  height: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.75rem;
}

.assortment-composition__desc {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.assortment-composition__text--params {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}

.assortment-composition--button {
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .assortment-composition--button {
    display: none;
  }
}

.assortment-composition--icon {
  width: 5.6875rem;
  height: 5.6875rem;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #333537;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 20;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.menu-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-overlay .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 36px;
  line-height: 72px;
  text-align: center;
}

.team--version--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team--version--desktop .team__content {
  position: absolute;
  text-align: center;
}

.team__member {
  width: 13.75rem;
  height: 18.125rem;
  margin-bottom: 1.5625rem;
}

.team__member--pic {
  overflow: hidden;
}

.team__item {
  margin-right: 1.25rem;
}
.team__item:last-child {
  margin-right: 0;
}

.team__title {
  background: transparent;
  border: none;
  padding: 2px 3px;
  margin-bottom: 0.6875rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.team__title::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #E01F3D;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.team__title.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__content--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__content--title {
  text-align: center;
  line-height: 1.1875rem;
  color: #292929;
  margin-bottom: 0.25rem;
}

.team__content--desc {
  color: #666;
  padding: 0 30px;
  text-align: center;
  max-width: 16.9375rem;
}

.modal {
  display: none;
  width: 19.3125rem;
  height: 11rem;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 1.875rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1.875rem;
}

.player-section {
  background: #F8FAF9;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 41.375rem;
  height: 24.4375rem;
}
@media screen and (max-width: 768px) {
  .player__wrapper {
    width: 37.125rem;
    height: 21.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .player__wrapper {
    width: 24.625rem;
    height: 14.5625rem;
  }
}

.player {
  position: relative;
  width: 100%;
}

.video__window {
  display: block;
}

.player__start {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4.375rem;
  width: 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.player__start.active {
  opacity: 0;
}

.video__toolbar {
  width: 100%;
  height: 2.1875rem;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 1.0625rem;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.duration__btn--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.6875rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.duration__img {
  height: 0;
  width: 0;
  border: 0.6875rem solid transparent;
  border-radius: 0.3125rem;
  border-left-color: #fff;
  border-right-width: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
.duration__img.active {
  border: 0.4375rem solid #fff;
  height: 16px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0.125rem;
  padding: 0.0875rem;
}

.duration__length-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5rem 0 1.75rem;
}

.duration__length {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.0625rem;
  background: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: 0;
}
.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #E01F3D;
  cursor: pointer;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  border: none;
}
.duration__length::-moz-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #E01F3D;
  cursor: pointer;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  border: none;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sound::before {
  content: "";
  width: 29px;
  height: 3px;
  background-color: #E01F3D;
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(42deg);
          transform: translateY(-50%) rotate(42deg);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sound.active::before {
  opacity: 1;
}

.sound__btn {
  border: none;
  background: transparent;
  padding: 0;
}

.sound__speak {
  cursor: pointer;
  width: 0.8125rem;
  height: 1rem;
}

.sound__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25rem 0 2.5rem;
}

.sound__length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: 0;
}
.sound__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #E01F3D;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}
.sound__length::-moz-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #E01F3D;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}

.product-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.product-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-menu__item:nth-child(1) .product-menu__title {
  background: #999999;
}

.product-menu__item:nth-child(2) .product-menu__title {
  background: #151515;
}

.product-menu__item:nth-child(3) .product-menu__title {
  background: #E01F3C;
}

.product-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.375rem;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .product-menu__title {
    width: 3.75rem;
  }
}

.product-menu__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 36px;
  padding-top: 34px;
}

.product-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.product-menu__content-text {
  padding: 2.5rem 4.5625rem 2.8125rem 1.625rem;
}

.product-menu-section__title {
  position: absolute;
  top: 7.1875rem;
  left: 5.25rem;
}