.feature {
    display: flex;
}

.feature__icon {
    width: 42px;
    margin-right: 6px;
}

.feature__text {
    font-family: "Play", Arial, Helvetica, sans-serif;
    line-height: 18px;
    max-width: 114px;
}