.headline {
    text-align: center;
}
.headline__title {
    margin-bottom: 11px;
    text-transform: uppercase;
}


.headline__subtitle {
    color: #666;
    font-weight: 400;
    line-height: 19px;
    padding: 0 20%;
    margin-bottom: 62px;
}
