.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(50px);
    text-align: center;
    text-transform: uppercase;
}

.order-section {
    background-color:  #181818;
}

.section__title--color-white {
    color: #fff;
}

.section__map {
    background: url(../../img/map.png) center center / cover no-repeat;
    object-fit: cover;
}
