.team--version--desktop {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;

    @include tablets {
        display: none;
    }
}

.team--version--mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include tablets {
        display: flex;
    }
}

.team--version--desktop .team__content {
        position: absolute;
        text-align: center;
}

.team__member {
    width: rem(220px);
    height: rem(290px);
    margin-bottom: rem(25px);
}

.team__member--pic {
    overflow: hidden;
}

.team__item {
    margin-right: rem(20px);
    
    &:last-child {
        margin-right: 0;
    }
}


.team__title {
    background: transparent;
    border: none;
    padding: 2px 3px;
    margin-bottom: rem(11px);
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;

    &::after {
        content: "";
        display: inline-flex;
        margin-left: 4px;
        width: 0; 
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid $red;
        transition: all 0.4s;
    }

    &.active {
        &::after {
            transform: rotate(180deg);
        }
    }
}



.team__content {
    overflow: hidden;
    transition: height .3s;
    height: 0;
}

.team__content--block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team__content--title {
    text-align: center;
    line-height: rem(19px);
    color: $black;
    margin-bottom: rem(4px);
}

.team__content--desc {
    color: #666;
    padding: 0 30px;
    text-align: center;
    max-width: rem(271px);
}